
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Welcome to the Web System 1.0v</h2>

<p>Check out the Web System Files <a href="https://github.com/theeam/learningCSharp/tree/master/WebSystem">here</a></p>

